{% extends 'layout.html.twig'%}
{% block page_title %} {{file.getFileName()}} {% endblock %}
{% block content %}
    <script type="text/x-template" id="commentary-form">
        <div class="commentform">
            <h3>Добавить комментарий</h3>
            <form action="/files/{fileId}" method="POST" onsubmit="uploadComment(event)">
                <input type="text" name="name" placeholder="Ваше имя(необязательное поле)" class="string optional form-control">
                <textarea name="commentary" rows="3" class="text optional form-control" required></textarea>
                <input type="hidden" value="{token}" name="token">
                <input type="hidden" value="{path}" name="path">
                <input type="submit" class="btn btn-default">
            </form>
            </div>
        </script>
        
        <script type="text/x-template" id="commentary-template">
            <div class="nick_name">
                <span class="name">{name}</span>
                <span class="date">{date}</span>
           </div>
           <span class="text">{text}</span>
           <div class="reply">
                <a href="" class="add-comment" data-path="{path}">Ответить</a>
            </div>
            </script>
<div class="content-wrapper">
    <div class="page-header">
        <h1>
        {{file.getOriginalName()}}<small>({{filesHelper.getFormattedSize(file)}})</small>
        <h1>
    </div>
    {% if isImage%}
    <a href="/view/{{file.getId()}}">
    <img src="{{filesHelper.getPathToThumb(file, true)}}">
    </a>
    {% endif %}
    <section>
        <p class="comment">{{file.getComment()}}</p>
        
    </section>
    <section>
        <p>Дата загрузки: {{filesHelper.getFormattedTime(file)}}</p>
    </section>
    <div class="buttons">
        {% if canEdit %}
        <a href="#myModal" role="button" class="btn btn-success" data-toggle="modal">Редактировать</a>
        <form class="edit" action="/files/{{file.getId()}}" method="POST">
            <div class="modal fileModal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header edit-window">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Редактировать информацию о файле</h3>
                </div>
                <div class="modal-body edit-window">
                    <p>
                        Комментарий
                        <textarea class="form-control" rows="5" maxlength="150" name="comment" required>{{file.getComment()}}</textarea>
                    </p>
                    {% if error %}
                    <div class="alert alert-danger">
                        <strong>Ошибка!</strong> {{error}}
                    </div>
                    {% endif %}
                </div>
                <div class="modal-footer edit-window">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">закрыть</button>
                    <input type="hidden" name="token" value ="{{token}}">
                    <input type="submit" class="btn btn-primary" value="Сохранить">
                </div>
            </div>
        </form>
        {% endif %}
        <a href="{{filesHelper.getDownloadPath(file)}}" class="btn btn-primary">Скачать</a>
    </div>
    {% if commentaries%}
    <h3>Комментарии</h3>
    {%endif%}
    <div class="comments-wrapper">
    {% for commentary in commentaries %}
        <div class="commentary" id="{{commentary.getPath()}}" style="margin-left: {{commentary.getDepth()*25}}px">
            <div class="nick_name">
                <span class="name">{{commentary.getName()}}</span>
                <span class="date"><small>{{commentary.getFormattedDate()}}</small></span>
            </div>
            <span class="text">{{commentary.getText()}}</span>
            <div class="reply">
                <a href="" class="add-comment" data-path="{{commentary.getPath()}}">Ответить</a>
            </div>
        </div>
    {% endfor %}
    <a class="add-comment" href="">Добавить комментарий</a>
    </div>
    
</div>
    <script src="/js/uploadComment.js">
        
</script>
<script>

  $(document).ready(function(){
  var error = {{ error|json_encode|raw }};

        if(error){
            $("#myModal").modal();
        }
});
var id = {{file.getId()|json_encode()|raw}};
var token = {{file.getToken()|json_encode()|raw}};
var commentsName = {{name|json_encode()|raw}};
document.body.addEventListener('click', showForm);

function showForm(event){
    if(event.target.className!="add-comment") return;
    event.preventDefault();
    var path = null;
    var wrapper = document.createElement('div');
    var div = document.getElementById('commentary-form').innerHTML;
    wrapper.innerHTML = div;
    var form = wrapper.querySelector("form");
    form.setAttribute('action', form.getAttribute('action').replace("{fileId}", id));
    form.token.setAttribute('value', form.token.getAttribute('value').replace("{token}", token));
    if(commentsName){
        form.name.value = commentsName;
    }
     if(event.target.getAttribute('data-path')){
        path = event.target.getAttribute('data-path');
        form.path.setAttribute('value', path);
    }
    else{
        form.removeChild(form.path);
    }
   
    event.target.parentNode.insertBefore(wrapper, event.target);
    event.target.parentNode.removeChild(event.target);

}

</script>
{% endblock %}