{% extends 'layout.html.twig'%}
{% block page_title %} {{file.getFileName()}} {% endblock %}
{% block content %}
<div class="content-wrapper">
    <div class="page-header">
        <h1>
        {{file.getOriginalName()}}<small>({{filesHelper.getFormattedSize(file)}})</small>
        <h1>
    </div>
    {% if filesHelper.isImage(file)%}
    <a href="{{filesHelper.getPathToFile(file, true)}}">
    <img src="{{filesHelper.getPathToThumb(file, true)}}">
    </a>
    {% endif %}
    <section>
        <p class="comment">{{file.getComment()}}</p>
        
    </section>
    <section>
        <p>Дата загрузки: {{filesHelper.getFormattedTime(file)}}</p>
    </section>
    <div class="buttons">
        {% if filesHelper.canEdit(token, file) %}
        <a href="#myModal" role="button" class="btn btn-success" data-toggle="modal">Редактировать</a>
        <form class="edit" action="/files/{{file.getId()}}" method="POST">
            <div class="modal fileModal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header edit-window">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Редактировать информацию о файле</h3>
                </div>
                <div class="modal-body edit-window">
                    <p>
                        Комментарий
                        <textarea class="form-control" rows="5" maxlength="150" name="comment" required>{{file.getComment()}}</textarea>
                    </p>
                    {% if error %}
                    <div class="alert alert-danger">
                        <strong>Ошибка!</strong> {{error}}
                    </div>
                    {% endif %}
                </div>
                <div class="modal-footer edit-window">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">закрыть</button>
                    <input type="hidden" name="token" value ="{{file.getToken()}}">
                    <input type="submit" class="btn btn-primary" value="Сохранить">
                </div>
            </div>
        </form>
        {% endif %}
        <a href="{{filesHelper.getDownloadPath(file)}}" class="btn btn-primary">Скачать</a>
    </div>
</div>
<script>

  $(document).ready(function(){
  var error = {{ error|json_encode|raw }};

        if(error){
            $("#myModal").modal();
        }
});

</script>
{% endblock %}